/* -- SETUP -- */

        * {
        	margin: 0;
        	padding: 0;
        	position: relative;
        	-webkit-box-sizing: border-box;
        	   -moz-box-sizing: border-box;
        	        box-sizing: border-box;
        }

        body { 
          color: #555;
          font-family: 'Helvetica Neue', Arial, sans-serif;
          font-size: 16px;
          line-height: 1.4; }

/* -- GENERAL TYPOGRAPHY -- */

        a  { color: #0089ef; }

        h1,h2,h3,h4,h5,h6 { color: #444; margin: 0 0 20px 0; }

        h1      { font-size: 40px; line-height: 44px; }
        h2      { font-size: 32px; }
        h3      { font-size: 24px; }
        h4      { font-size: 21px; margin-top: 32px; }
        h2 + h4 { margin-top: 0; }
        h5      { font-size: 18px; }
        h6      { font-size: 18px; }

        p         { margin: 20px 0 20px 0; }
        
        ul,ol     { margin: 0 0 20px 28px; padding: 0; }
        dl        { margin: 0 0 20px 0; }
        dl dt     { color: #444; margin-bottom: 4px; font-weight: bold; }
        dl dd     { margin-bottom: 0px; margin-left: 24px; }
        
        pre,code  { font-size: 15px; line-height: 20px; font-family: 'Courier', monospace; }
        pre       { overflow: auto; margin: 0 -20px 20px 0; padding: 20px; background: #f3f3f0; box-shadow: inset 0px 3px 9px rgba(0,0,0,0.12); border-radius: 6px 0 0 6px; display: inline-block; }
        pre h4    { font-size: 18px; font-family: "Helvetica Neue"; margin: 0; }
        code      { display: inline-block; white-space: nowrap; padding: 2px 6px; border-radius: 3px; background: #f4f4f4; }




  pre::-webkit-scrollbar {
    -webkit-appearance: none;
/*    width: 6px;*/
    height: 4px;
}

pre::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(156, 156, 156, .3);
}




        
        table     { border-collapse: collapse; table-layout:fixed; width:100%; margin: 0 0 20px 0; }
        td,th     { padding: 8px 9px 7px; font-size: 14px; line-height: 17px; border: 1px solid #aaa; text-align: left; }
        th        { background: #eee; }
        td        { font-size: 13px; background: #fff; }

/* -- LAYOUT -- */

        /* A section is a horiztonal band/stripe/row on the page. 
           Defaults to the <body> bg color but can have its own color. */
        section        { padding: 20px; }
        
        /* If the page is at least 768px, center the content at that width. 
           Otherwise it will be 100% wide. */
        @media (min-width: 768px) { 
          .content { width: 768px; margin: 0 auto; } 
          pre { margin-left: 0; margin-right: 0; border-radius: 6px; }
        }