@font-face {
    font-family: 'ProximaNovaLight';
    src: url('fonts/Proxima_Nova_Light-webfont.eot');
    src: url('fonts/Proxima_Nova_Light-webfont.eot?iefix') format('eot'),
         url('fonts/Proxima_Nova_Light-webfont.woff') format('woff'),
         url('fonts/Proxima_Nova_Light-webfont.ttf') format('truetype'),
         url('fonts/Proxima_Nova_Light-webfont.svg#webfont66L2sXE3') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaReg';
    src: url('fonts/Proxima_Nova_Reg-webfont.eot');
    src: url('fonts/Proxima_Nova_Reg-webfont.eot?iefix') format('eot'),
         url('fonts/Proxima_Nova_Reg-webfont.woff') format('woff'),
         url('fonts/Proxima_Nova_Reg-webfont.ttf') format('truetype'),
         url('fonts/Proxima_Nova_Reg-webfont.svg#webfont66L2sXE3') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('fonts/Proxima_Nova_Semibold-webfont.eot');
    src: url('fonts/Proxima_Nova_Semibold-webfont.eot?iefix') format('eot'),
         url('fonts/Proxima_Nova_Semibold-webfont.woff') format('woff'),
         url('fonts/Proxima_Nova_Semibold-webfont.ttf') format('truetype'),
         url('fonts/Proxima_Nova_Semibold-webfont.svg#webfont66L2sXE3') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('fonts/Proxima_Nova_Bold-webfont.eot');
    src: url('fonts/Proxima_Nova_Bold-webfont.eot?iefix') format('eot'),
         url('fonts/Proxima_Nova_Bold-webfont.woff') format('woff'),
         url('fonts/Proxima_Nova_Bold-webfont.ttf') format('truetype'),
         url('fonts/Proxima_Nova_Bold-webfont.svg#webfont66L2sXE3') format('svg');
    font-weight: normal;
    font-style: normal;
}










/* -- SETUP -- */

        * {
          margin: 0;
          padding: 0;
          position: relative;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
        }

/* -- GENERAL TYPOGRAPHY -- */

        body { 
          color: rgba(0,0,0,0.6);
          font-family: 'ProximaNovaReg','Helvetica Neue', Arial, sans-serif;
          font-size: 18px;
          line-height: 1.3;
          background: #fff;
          transition: background-color 0.5s ease;
        }

        a  { 
          color: #44a0d9; 
          text-decoration: none; 
        }

        h1,h2,h3,h4,h5,h6 { color: #444; margin: 0 0 20px 0; font-weight: normal; }

        h1      { font-size: 40px; line-height: 44px; }
        h2      { font-size: 54px; line-height: 1.0; font-family: 'ProximaNovaBold'; color: #f05a28; text-transform: uppercase; text-align: center; letter-spacing: 2px; border-top: 3px double rgba(0,0,0,0.09); border-bottom: 3px double rgba(0,0,0,0.09); padding: 32px 0 24px; margin: 0 0 48px 0; }
        h3      { font-size: 24px; }
        h4      { font-size: 19px; line-height: 24px; margin: 32px 0 10px 0; font-family: 'ProximaNovaBold'; color: rgba(0,0,0,0.8); font-weight: normal; text-transform: uppercase; }
        h2 + h4 { margin-top: 0; }
        h5      { font-size: 18px; }
        h6      { font-size: 18px; }

        p         { margin: 0 0 20px 0; }
        strong { font-weight: normal; }
        p strong { font-family: "ProximaNovaBold"; color: rgba(0,0,0,0.72); }
        
        ul,ol     { margin: 0 0 20px 28px; padding: 0; }
        dl        { margin: 0 0 20px 0; }
        dl dt     { color: #444; margin-bottom: 4px; font-weight: bold; }
        dl dd     { margin-bottom: 0px; margin-left: 24px; }
        
        pre,code  { font-size: 15px; line-height: 20px; font-family: 'Courier', monospace; }
        pre strong,
        code strong { font-weight: bold; }
        pre       { overflow: auto; display: inline-block; max-width: 100%; margin: 0 0 20px 0; }
        pre h4    { margin: 0 0 -25px 0; font-size: 15px; text-transform: uppercase; }
        code      { display: inline-block; white-space: nowrap; padding: 2px 6px; border-radius: 3px; background: #f4f4f4; }

                 
                 @media screen and (max-width: 800px) {
                    body { background: #eef3f6; }
                    pre { font-size: 14px; line-height: 16px; background: #fff; border: 1px solid rgba(0,0,0,0.1); padding: 28px 20px 20px; border-radius: 2px; }
                    pre h4 { font-size: 14px; line-height: 16px; margin-bottom: -18px; }
                  }

                  /* PRE scroll bars */
                  pre::-webkit-scrollbar {
                    -webkit-appearance: none;
                    height: 6px;
                  }
                  pre::-webkit-scrollbar-thumb {
                      background-color: #d8d8d8;
                  }

        pre.pre_lyrics { width: 100%; margin-bottom: 50px; }
        pre.pre_lyrics h4 { font-family: 'Courier'; color: #333; font-weight: bold; }

        pre .chords_inline { color: #f05a28; }
        pre strong.chord { color: #f05a28; }
        pre .note { color: #b8b8b8; }

        table     { border-collapse: collapse; table-layout:fixed; width:100%; margin: 0 0 20px 0; }
        td,th     { padding: 8px 9px 7px; font-size: 14px; line-height: 17px; border: 1px solid #aaa; text-align: left; }
        th        { background: #eee; }
        td        { font-size: 13px; background: #fff; }

/* -- LAYOUT -- */

        html, body  { height: 100%; }
        body        { min-width: 320px; }


        body { 
          padding-left: 240px; 
        }

                @media screen and (max-width: 1028px) {
                  body { padding: 0; left: 0; right: 0; }
                }

        #shelf {
          background: #44a0d9;
          box-shadow: inset -1px 0px 4px #3e92c5;
          width: 210px;
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          z-index: 500;
        }

                @media screen and (max-width: 1028px) {
                  #shelf { 
                    position: static;
                    width: 100%;
                  }
                }

        #content {
          min-height: 1000px;
          padding: 15px 30px 0 0;
          position: relative;
          width: 100%;
        }

                @media screen and (max-width: 1028px) {
                  #content { padding-right: 0; padding-top: 20px; }
                }

        .grid-temp {
          padding: 0;
          max-width: 800px;
          margin: 0 auto;
        }
                @media screen and (max-width: 1028px) {
                  .grid-temp { padding: 0 15px; }
                }

        section { margin-bottom: 100px; }

/* -- SIDEBAR / NAV -- */
  
    /* Title: All Screensizes */
    #title h1 { font-family: 'ProximaNovaBold'; text-transform: uppercase; color: #fff; letter-spacing: 1px; }
    #title p { color: rgba(255,255,255,0.7); font-family: "ProximaNovaLight"; }

    /* Title: Wide Screens */
    #title { text-align: center; }
    #title img { margin: 20px 0 10px 0; width: 50px; }
    #title h1 { font-size: 26px; line-height: 26px; margin: 0 0 8px 0; }
    #title p { font-size: 14px; line-height: 18px; width: 150px; margin: 0 auto; }

    /* Title: Small Screens */
    @media screen and (max-width: 1028px) {
      #title { text-align: left; height: 84px; }
      #title img { margin: 14px 20px 0; width: 24px; position: absolute; left: 0; }
      #title .text { position: absolute; left: 67px; top: 20px; }
      #title h1 { margin: 0 0 4px 0; }
      #title p { width: auto; }
      #title #navburger { position: absolute; right: 20px; top: 20px; display: block; height: 44px; width: 44px; line-height: 44px; color: #fff; display: block; text-align: center; font-size: 32px; background: transparent url(../images/hamburger.png) center no-repeat; background-size: 16px 12px; border-radius: 4px; border: 1px solid rgba(255,255,255,0.3); -webkit-tap-highlight-color: rgba(0,0,0,0); /* via http://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/ */ }
      #title #navburger:hover { background-color: rgba(0,0,0,0.1); border-color: #46b1db; }
      #title #navburger.open { background-color: rgba(0,0,0,0.1); border-color: #46b1db; background-image: url(../images/hamburger-close.png); background-size: 12px 12px; }

    }
    
    /* Title: Really Small Screens */
    @media screen and (max-width: 480px) {
      #title { height: 64px; }
      #title img { display: none; }
      #title .text { left: 12px; top: 16px; }
      #title h1 { font-size: 21px; line-height: 21px; }
      #title p { font-size: 12px; line-height: 12px; }
      #title #navburger { right: 12px; top: 10px; }
    }

/* Drawer */
@media screen and (max-width: 1028px) {
  #drawer { display: none; }
}

/* Nav */
#nav ul { margin: 0; }
#nav ul > li { list-style: none; }
#nav ul > li a { text-align: center; text-transform: uppercase; font-size: 13px; line-height: 14px; font-family: "ProximaNovaLight"; letter-spacing: 0.5px; color: #fff; padding: 18px 0px 15px; display: block; border-bottom: 1px solid #46b1db; transition: background-color 0.25s ease; }
#nav ul > li:first-child a { border-top: 1px solid #46b1db; }
#nav ul > li a:hover { background: rgba(0,0,0,0.1); }

        /* Nav: Small Screens */
        @media screen and (max-width: 1028px) {
          #nav ul > li a { background: rgba(0,0,0,0.1); font-size: 14px; line-height: 18px; }
          #nav ul > li a:hover { background: rgba(0,0,0,0.2); }
        }

    /* Social Icons */
    #social { position: fixed; width: 210px; bottom: 24px; }
    #social p { color: #fff; opacity: 0.8; font-family: "ProximaNovaLight"; font-size: 14px; line-height: 18px; text-align: center; margin: 0 0 9px 0; }
    #social ul { margin: 0 0 0 -10px; text-align: center; font-size: 0; }
    #social ul li { list-style: none; display: inline-block; }
    #social ul li a { display: block; width: 36px; height: 36px; overflow: hidden; margin-left: 6px; border-radius: 4px; background-color: rgba(0,0,0,0.1); background-repeat: no-repeat; background-size: 32px 32px; background-position: center; transition: background-color 0.25s ease; }
    #social ul li a:hover { background-color: rgba(0,0,0,0.3); }

    #social ul li.tw a { background-image: url(../images/icon-twitter.png); }
    #social ul li.fb a { background-image: url(../images/icon-fb.png); }
    #social ul li.yt a { background-image: url(../images/icon-youtube.png); }
    #social ul li.gplus a { background-image: url(../images/icon-gplus.png); }

        /* Title: Small Screens */
        @media screen and (max-width: 1028px) {
          #social { position: static; width: 100%; padding: 24px 0 32px; }
        }


/* -- HERO -- */

.hero { margin: 0 0 52px 0; }
.hero .avatar { text-align: center; margin: 80px 0 21px 0; }
.hero .avatar img { width: 180px; height: 180px; border-radius: 90px; }
.hero h1 { color: rgba(0,0,0,0.8); text-transform: uppercase; font-size: 80px; line-height: 1.0; font-family: 'ProximaNovaBold';font-weight: normal;  text-align: center; margin: 0 0 18px 0; }
.hero h3 { font-size: 32px; line-height: 1.0; font-family: 'ProximaNovaLight'; font-weight: normal; text-align: center; text-transform: uppercase; color: rgba(0,0,0,0.5); margin: 0 0 35px 0; }
.hero p.meta { text-align: center; font-size: 13px; line-height: 20px; margin: 0 0 46px 0; }
.hero p.meta em { color: rgba(0,0,0,0.3); display: block; font-style: normal; font-family: 'ProximaNovaLight' }
.hero p.meta strong { color: rgba(0,0,0,0.5); font-weight: normal; text-transform: uppercase; letter-spacing: 0px; font-family: 'ProximaNovaBold' }
.hero p.jumpto { text-align: center; font-size: 12px; font-family: 'ProximaNovaLight'; color: rgba(0,0,0,0.6); text-transform: uppercase; }
.hero p.jumpto a { display: inline-block; }
.hero p.jumpto em { font-style: normal; display: inline-block; }
.hero p.jumpto em:after { content: "\00a0" }
.hero p.jumpto em:before { content: "\00a0" }

        @media screen and (max-width: 728px) {
          .hero p.jumpto { font-size: 13px; width: 65%; margin: 0 auto; }
          .hero p.jumpto em { display: none; }
          .hero p.jumpto em.prompt { display: block; padding-bottom: 5px; color: rgba(0,0,0,0.5); font-weight: normal; text-transform: uppercase; letter-spacing: 0px; font-family: 'ProximaNovaBold' }
          .hero p.jumpto a { display: block; padding: 11px 0 10px; background: #fff; border: 1px solid rgba(0,0,0,0.15); margin-bottom: -1px; }
        }














/* Fluid Video - via http://webdesignerwall.com/tutorials/css-elastic-videos */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  max-width: 100%;
}

/* Chord Progressions */

#chord_progressions h4 { margin: 10px 0 5px; }
#chord_progressions h5 { font-family: "ProximaNovaLight"; margin-bottom: 8px; color: rgba(0,0,0,0.6); }
#chord_progressions pre { margin-bottom: 15px; }

/* Song Info */

#song_info { padding-bottom: 80px; }
